body {
    font-family: sans-serif; /* altera a fonte do body */
}

#div-paragrafos {
    color: aliceblue; /* altera a cor do id */
    background-color: rgb(93,93,145); /* altera a cor do background do id */
}

.longo {
    background-color: pink; /*a ltera a cor da classe */
}

#p1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* altera a fonte do id */
    color: brown; /* altera a cor do id */
    font-size: 30px; /* altera o tamanho da fonte para 30 px */
}

p {
    font-family: 'Courier New', Courier, monospace; /* altera a fonte para Courier New */
}